.container{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 1rem;

}

#cryptoimage{
    width: 70px;
    margin-bottom: 10px;
}

.childcrypto{
    transition: all 0.5 ease;
    animation: animateElement linear .3s;
    animation-iteration-count: 1;
  
}

.crpto{
    border-radius: 5% 5%;
    padding: 1rem;
    width: 100%;
    text-align: center;
    background-color: #ccc;
    text-decoration-style: wavy;
    box-sizing: border-box;

}

.cardtext{
    margin: auto;
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    display: inline-flex;

}

.crpto p{
    display: inline-block;
    margin: unset;
    text-align: start;
    font-size: auto;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
      
}

.loadmorediv{
    margin-top: 30px;
    text-align: center;
}