.cryptodetails{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    padding: 1rem;
    border-radius: 1%;
}

.container{
    width: 60%;
    margin: auto;
}

.cardtext{
    margin: auto;
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    display: inline-flex;

}

.cryptodetails p{
    display: flex;
    justify-content: start;
    margin: unset;
    text-align: start;
    font-size: auto;
    padding: .5rem;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid #333;
      
}

.cryptodetails p b{
     flex-grow: 1;      
}



#cryptoimage{
    width: 150px;
    margin: 10px auto;
}


