@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}


  
  /* Main Styling */
  html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }

  ul {
    list-style: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

img {
    width: 100%;
}

  
  h1, h2, h3 {
    padding-bottom: 20px;
  }
  
  p {
    margin: 10px 0;
  }

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 0 20px;
    
}

.headerdiv1 img{
    display: none;
}

.navbar{
    display: flex;
    flex-direction: row;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

 .logo .text-primary {
    color: #28a745;
}

h1{
    font-weight: bold;

}
.gun{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul li{
    margin: 10px;
}

.navbar a{
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 20px;
}

#hamburgertag{
    padding: 20px;
}

.navbar a:hover {
    border-bottom: #28a745 2px solid;
}

main{
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

main .globalStats{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}


.navbar ul{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
}

#hamburgertag{
    display: none;
}


 
footer{
    margin: 20px 0;
    text-align: center;

}

footer .social{
    color: #000;
    margin-bottom: 15px;
}

footer a{
    padding: 10px;

}



/* */


main{
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

main .globalStats{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}


main .globalStats div{
   width: 200px;
   border-radius: 50%;
   height: 150px;
   text-align: center;
   background-color: #ccc;
   display: flex;
   justify-content: center;
   align-content: center;
   flex-direction: column;
}



      
footer p{
    /* color: #fff; */
}
footer{
    margin: 20px 0;
    text-align: center;

}

footer .social{
    color: #000;
    margin-bottom: 15px;
}

footer a{
    padding: 10px;

}


  